<!DOCTYPE html>
<html>
    <head>
        <title>EliteWear</title>
        <link rel="stylesheet" type="text/css" href="../style.css">
        <link rel="icon" href="data:,">
    </head>
    <body>
        <div class="header">
            <img src="logo.jpg" style="border-radius: 50%;width:4rem;height: 4rem;margin-top: 7%;margin-right: 5%;" alt="logo">
            <a href="/" class="sections current_section">Home page</a>
            <a href="/mission" class="sections">Our mission</a>
            <a href="/products" class="sections">Products</a>
        </div>

        <div class="slider">
            <div class="slides">
                <img src="mountain.jpg" class="slide" alt="test1">
                <img src="mount.jpg" class="slide" alt="test2">
                <img src="runner.jpg" class="slide" alt="test3">
                <img src="run.jpg" class="slide" alt="test4">
            </div>

            

            <button class="prev" id="previous">&#10094</button>
            <button class="next" id="nextious">&#10095</button>
        </div>
        <div class="dots">
            <div class="dot">&#8213;</div>
            <div class="dot">&#8213;</div>
            <div class="dot">&#8213;</div>
            <div class="dot">&#8213;</div>
        </div>

        <div class="logo_area">
            <img src="logo.jpg" class="logo" alt="logo">
            <div class="head">
                <h1 class="logo_text"><strong>EliteWear-</strong><div class="logo_text">Embrace profesionalism</div></h1>
                <p class="desc">
                    EliteWear is a company that specializes in providing high quality sportswear for athletes. We are dedicated to providing the best products for our customers. Our products are designed to help athletes perform at their best. We believe that every athlete deserves the best gear to help them reach their full potential. Our products are made with the highest quality materials and are designed to be durable and comfortable. We are committed to providing the best products for our customers and we are always looking for ways to improve our products and services.
                </p>
            </div>
        </div>
        <div class="sup"><strong>Conquer, Fight, Overcome</strong></div>
        <div class="series">
            <div class="team">
                <img src="overcome.jpg" class="sup_series">
                <img src="explore.jpg" class="sup_series">
                <img src="conquer.avif" class="sup_series">
            </div>
        </div>
        <div class="technical">
            <div class="contact">Contact us at: <strong class="mail">damian.piechocki05@gmail.com</strong></div>
            <div class="faq">
                <div class="mail" style="font-size: 2.2rem;margin-left:3% ;">Frequently asked questions</div>
                <div class="question">How long does the delivery process take?</div>
                <div class="answer">The delivery process can take up to two weeks. If any problems arise, you will be contacted via email.</div>
                <div class="question">What is the return policy?</div>
                <div class="answer">You can return any product within 30 days of purchase. If you are not satisfied with your purchase, you can return it for a full refund.</div>
                <div class="question">Do you offer international shipping?</div>
                <div class="answer">Yes, we offer international shipping. Shipping costs may vary depending on the location.</div>
            </div>
        </div>
        <script src="./index.js"></script>
    </body>
</html>