<!DOCTYPE html>
<html>
    <head>
        <title>EliteWear</title>
        <link rel="stylesheet" type="text/css" href="../style.css">
        <link src="../index.js">
    </head>
    <body>
        <div class="header">
            <img src="logo.jpg" style="border-radius: 50%;width:4rem;height: 4rem;margin-top: 7%;margin-right: 5%;" alt="logo">
            <a href="/" class="sections">Home page</a>
            <a href="/mission" class="sections current_section">Our mission</a>
            <a href="/products" class="sections">Products</a>
        </div>

        <div class="mission">
            <img src="logo.jpg" style="margin-left: 5%;" class="logo" alt="logo">
            <div class="mission_text">
                <h1 class="mission_title">Our mission</h1>
                <p class="mission_desc">
                    Here at EliteWear, we embrace the culture of professionalism. We believe that each person has the potential to be great, and we are here to help them achieve that greatness. Our mission is to provide high quality sportswear that is designed to help cutomers perform at their best. We are dedicated to providing the best products for our customers and we are always looking for ways to improve our products and services. Our products are made with the highest quality materials and are designed to be durable and comfortable. We aim to deliver product that cattor to needs of sports enthusiasts. Above all, we want to see our customer achieve their goals.<br><br> -EliteWear Team
                </p>
        </div>
    </body>
</html>